altgraph==0.17.4
attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
idna==3.6
isodate==0.6.1
lxml==5.1.0
netifaces==0.11.0
numpy==1.26.1
onvif-zeep==0.2.12
opencv-python==4.7.0.68
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
platformdirs==4.1.0
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
tk==0.1.0
urllib3==2.1.0
WSDiscovery==2.0.0
zeep==4.2.1
