attrs==24.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
idna==3.7
isodate==0.6.1
lxml==5.2.2
netifaces==0.11.0
numpy==2.0.1
onvif-zeep==0.2.12
opencv-python==4.10.0.84
packaging==23.2
pillow==10.4.0
platformdirs==4.2.2
pyparsing==3.2.5
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.16.0
typing_extensions==4.15.0
urllib3==2.2.2
WSDiscovery==2.0.0
zeep==4.2.1
